<div class="main" id="home">
  {{!--MAIN NAV  --}}

    {{!--MAIN TITLE  --}}
      <div class="main-header">
        {{top-nav}}
        <div class="header">
          <h1 class="header-title">TEAL TUNG</h1>
          <h2 class="header-subtitle">Sports. Film. Life.</h2>
        </div>
      </div>

      {{!--MAIN --}}
      <div class="main-info">
        <h2 class="main-info__title">Hello</h2>
        <hr class="main-info__hr">
        <p class="main-info__graph">
          Meditation DIY coloring book four loko banh mi pok pok forage, actually craft beer hot chicken chia raclette semiotics tilde banjo. Poutine shabby chic knausgaard, salvia normcore trust fund hexagon +1 occupy dreamcatcher whatever fanny pack tote bag.
          Celiac mumblecore photo booth fingerstache.
        </p>
        <p class="main-info__graph">Enjoy.</p>
      </div>

      {{!--MAIN BODY  --}}
      <div class="main-body">
        {{!--MAIN BLOG  --}}
        <div class="main-blog">
          {{#link-to 'posts'}} <h1 class="blog-post__title">Posts</h1>
          {{/link-to}}
          {{outlet}}
        </div>

        {{!-- MAIN SIDEBAR --}}
        <div class="main-sidebar">
          <div class="main-sidebar__archive">
            <h3 class="main-sidebar__title">
          Archive
        </h3>
            <hr class="main-sidebar__title-hr">
            <ul class="main-sidebar__archive-list">
              <li class="main-sidebar__archive-li">Example Title</li>
              <li class="main-sidebar__archive-li">Another Blog Post</li>
              <li class="main-sidebar__archive-li">Something Else</li>
              <li class="main-sidebar__archive-li">Check This Out</li>
              <li class="main-sidebar__archive-li">More Tips Here</li>
              <li class="main-sidebar__archive-li">An Older Post</li>
              <li class="main-sidebar__archive-li">Example Title</li>
              <li class="main-sidebar__archive-li">Another Blog Post</li>
              <li class="main-sidebar__archive-li">Something Else</li>
              <li class="main-sidebar__archive-li">Check This Out</li>
            </ul>
          </div>
          {{social-nav}}
        </div>
      </div>
      {{!--MAIN ABOUT  --}}
      {{about-us}}

        {{!--MAIN CONTACT  --}}
        {{contact-form}}

          {{!--MAIN FOOTER  --}}
          <div class="main-footer">
            <div class="legal">
              Copyright (c) 2016 Copyright Teal Tung All Rights Reserved.
            </div>
            {{social-nav}}
          </div>
</div>
